
@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-eb-garamond: var(--font-eb-garamond);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans), var(--font-poppins), system-ui,
    -apple-system, sans-serif;
}

.font-swash {
  font-feature-settings: "swsh" 1;
  -webkit-font-feature-settings: "swsh" 1;
  -moz-font-feature-settings: "swsh" 1;
}
